<!doctype html>
<html lang="en">
<head>

	
<link rel="stylesheet" href="../stylesheets/style.css">
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
<div class="bodyDiv">
	<%include record %>

	<%include lineGraph %>
	
	</div>

</body>
</html>