body {
	background-image: url('../images/Background_big.png');
	background-repeat: no-repeat;
	background-size: 100%, 100%;
 overflow: hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
bodyDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1536px;
	height: 700px;
	overflow: hidden;
}

a {
  color: #00B7FF;
}


/* 
	Settings for Gauges
		views/gauges.ejs
*/
 	#guageDiv {
		position: absolute;
		left: 29px; 
		top: 260px;
		width: 800px;
	}

 /* settings for infoFrame */
	#infoFrame {
		position: absolute;
		left: 9px; top: 3px;
		width: 1880px;
		height: 250px;
		 border-right:none;
		 overflow:hidden;
	}
/*
	Settings for Wind Speed
		views/windsock.ejs
*/

        .awesome-button {
            display: block;
            width: 171px;
            height: 486px;
            background: url("../images/20150208_171x486_160frames_windsack_small.png") no-repeat 0 0;
            margin-bottom: 1em;
			position:absolute;
			left:20px; top:420px;
        }
        .WScurrentValue {
			position: absolute;
			left: 50px;
			top:680px;
			font-size:x-large;
		}   
		.WSbuttonDiv{
			position:absolute;
			left:200px; top:880px;
			width: 60px;
		}
		#WSupButton{
			width:60px; height: 40px;
		}
		#WSdownButton{
			width:60px; height: 40px;
		}		

/* Wind Fan On Off Checkbox */
.WSinitButton {
    position: absolute; 
	 left:15px; top:910px;
	width: 158px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.WSinitButton-checkbox {
    display: none;
}
.WSinitButton-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 17px;
}
.WSinitButton-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.WSinitButton-inner:before, .WSinitButton-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.WSinitButton-inner:before {
    content: "Wind ON";
    padding-left: 25px;
    background-color: #75B1FF; color: #5C5C5B;
}
.WSinitButton-inner:after {
    content: "Wind OFF";
    padding-right: 25px;
    background-color: #F0E068; color: #5C5C5B;
    text-align: right;
}
.WSinitButton-switch {
    display: block; width: 43px; margin: -8.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 17px;
    position: absolute; top: 0; bottom: 0; right: 128px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.WSinitButton-checkbox:checked + .WSinitButton-label .WSinitButton-inner {
    margin-left: 0;
}
.WSinitButton-checkbox:checked + .WSinitButton-label .WSinitButton-switch {
    right: 0px; 
}

/*
	Settings for Pitch Angle 
		views/pitchAngle.ejs
*/
        .pitchAngle-button {
            display: block;
            width: 252px;
            height: 486px;
            background: url("../images/20150208_Pitch_final_small_252x486.png") no-repeat 0 0;
            margin-bottom: 1em;
           
			position:absolute;
			left:330px; top:380px;
        }
        .PAcurrentFrame {
			position:absolute;
			left:390px; top:105px;
		}
		
		.PAcurrentAngle {
			position:absolute;
			left:360px; 
			top:680px;
			font-size:x-large;
		}
		.PAbuttonDiv{
			position:absolute;
			left:490px; top:880px;
			width: 60px;

		}
		.PAinitDiv{
			position:absolute;
			left:490px; top:930px;
		}
		#PAupButton{
			width:60px; height: 40px;
		}
		#PAdownButton{
			width:60px; height: 40px;
		}		
		.pitchAngelDiv {
			position:absolute;
			left:330px; top:100px;
		}
		
/* For the Initialization checkbox */
.PAinitButton {
   position: absolute; 
    left:310px; top:910px;
	width: 158px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.PAinitButton-checkbox {
    display: none;
}
.PAinitButton-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 17px;
}
.PAinitButton-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.PAinitButton-inner:before, .PAinitButton-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.PAinitButton-inner:before {
    content: "Pitch Control";
    padding-left: 5px;
    background-color: #75B1FF; color: #5C5C5B;
}
.PAinitButton-inner:after {
    content: "Maintenance";
    padding-right: 5px;
    background-color: #F0E068; color: #5C5C5B;
    text-align: right;
}
.PAinitButton-switch {
    display: block; width: 43px; margin: -8.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 17px;
    position: absolute; top: 0; bottom: 0; right: 128px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.PAinitButton-checkbox:checked + .PAinitButton-label .PAinitButton-inner {
    margin-left: 0;
}
.PAinitButton-checkbox:checked + .PAinitButton-label .PAinitButton-switch {
    right: 0px; 
}

 /*
	Settings for Dummy Load
		views/dummyLoad.ejs
*/

		.DummyLoadDiv {
			width: 420px;
			height: 100px;
		}
	
        .DLawesome-button {
            display: block;
			
            width: 221px;
            height: 134px;
			
            background: url("../images/20150208_load_small_221x134_201frames.png") no-repeat 0 0;
						/* background-size: 100%, 100%;
						*/

            margin-bottom: 1em;
			position:absolute;
			left:580px; top:740px;
        }
		.DLcurrentValue {
			position:absolute;
			left:680px; 
			top:680px;
			font-size:x-large;
		}
		.DLbuttonDiv{
			position:absolute;
			left:780px; top:880px;
			width: 60px;
		}
		#DLupButton{
			width:60px; height: 40px;
		}
		#DLdownButton{
			width:60px; height: 40px;
		}		
/* For the Dummy Load/Motor Control checkbox */
.DLinitButton {
    position: absolute; 
	left:600px; top:910px;

	width: 158px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.DLinitButton-checkbox {
    display: none;
}
.DLinitButton-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 17px;
}
.DLinitButton-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.DLinitButton-inner:before, .DLinitButton-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.DLinitButton-inner:before {
    content: "Current sink";
    padding-left: 10px;
    background-color: #75B1FF; color: #5C5C5B;
}
.DLinitButton-inner:after {
    content: "Motor mode";
    padding-right: 10px;
    background-color: #F0E068; color: #5C5C5B;
    text-align: right;
}
.DLinitButton-switch {
    display: block; width: 43px; margin: -8.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 17px;
    position: absolute; top: 0; bottom: 0; right: 128px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.DLinitButton-checkbox:checked + .DLinitButton-label .DLinitButton-inner {
    margin-left: 0;
}
.DLinitButton-checkbox:checked + .DLinitButton-label .DLinitButton-switch {
    right: 0px; 
}

/*
	Settings for Data Collection
		views/dataInput.csf
*/
	.DIstartButtonDiv{
			position: absolute;
			left: 400px; top: 750px;
		}
		.DIstopButtonDiv{
			position: absolute;
			left: 500px; top: 750px;
		}
		.DIstartButton {
			width: 80px; height: 50px;
		}
		.DIstopButton {
			width: 80px; height: 50px;
		}



/*
	settings for D3JS line graph, 
		views/lineGraph.ejs
*/

/* For Data Selection Buttons */

  input, label {
    line-height: 1.5em;
  }

	.graphSelectButtons {
			position: absolute;
			left: 1000px; top: 890px;
		}

		/* for Line Graph itself */
svg {
  font: 10px sans-serif;
}
 
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

 		.dataInputDiv {
			position:absolute;
			left:630px; top:90px;
		}

		
		.guageDiv {
			position: absolute;
			left: 40px; top: 160px;
		}


	#lineGraphTitle {
		position: relative;
		left: 400px;
		top: 75px;
	}
	.lineGraphDiv {
		position: absolute;
		left: 840px;
		top: 200px;
		width: 1000px;
		height: 700px;
		 border-right:none;
		overflow: hidden;

	}
	
	
/*
	Settings for record functions
		views/record.ejs
*/
  input, label {
    line-height: 1.5em;
  }

	.recordButtons {
			position: absolute;
			width: 158px;
			left: 1600px; top: 910px;
			   -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
 border-right:none;

		}

.recordButtons-checkbox {
    display: none;
}
.recordButtons-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 17px;
}
.recordButtons-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.recordButtons-inner:before, .recordButtons-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.recordButtons-inner:before {
    content: " Recording";
    padding-left: 12px;
    background-color: #FC3737; color: #5C5C5B;
}
.recordButtons-inner:after {
    content: "Record OFF";
    padding-right: 12px;
    background-color: #B0B0B0; color: #5C5C5B;
    text-align: right;
}
.recordButtons-switch {
    display: block; width: 43px; margin: -8.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 17px;
    position: absolute; top: 0; bottom: 0; right: 128px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.recordButtons-checkbox:checked + .recordButtons-label .recordButtons-inner {
    margin-left: 0;
}
.recordButtons-checkbox:checked + .recordButtons-label .recordButtons-switch {
    right: 0px; 
}

	